div.messages{
	position:relative;
	background-color:#eee;
	border:1px solid #000;
}
.messages div{
	margin:5px;
}
.messages div{
	padding-left:30px;
	height:22px;
}
div.error{
  background-image:url(images/icon_error.gif);
  background-repeat:no-repeat;
}
div.warning{
  background-image:url(images/icon_warning.gif);
  background-repeat:no-repeat;

}
.messages div.confirmation{
  background-image:url(images/icon_ok.gif);
  background-repeat:no-repeat;
}
.warning {
  padding-left:30px;
  background-image:url(../images/icon_warning.gif);
  background-repeat:no-repeat;
}

.critical_warning {
  height: 50px;
  padding-left:40px;
  background-image:url(../images/icon_big_warning.gif);
  background-repeat:no-repeat;
}

.confirmation{
  position:relative;
/*  PADDING-top:10px;
  padding-bottom:10px;
*/
  color:black;
  text-align:left;
  padding-left:30px;
  background-image:url(../images/icon_ok.gif);
  background-repeat:no-repeat;
}

div.container{
  border:1px solid #dedede;
  width:400px;
}

div.formrow{
  position:relative;
  height:20px;
  
}
